/* * Sempre, ao iniciar um projeto Front End, precisamos zerar a margem e o padding e usamos o o atributo "box-sizing: border-box;" para não permitir que os elementos creçam além do limite específicado*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* * A sintaxe CSS é assim:
   * SELETOR {
   *    ATRIBUTOS: VALORES;     
   * } */
h1 {
  color: red;
}

p {
  font-size: 4em;
}
